/* Importing a font from Google Fonts (Open Font License) */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

html {
    /*
        Using a fairly generic material dark color system
        surface 100 will be the generic background color
        of the site, surfaces on top will be colored by layer
        200, 300, etc.

        The CSS for the site will be primarily driven by CSS
        variables, as they allow for DRYer CSS.
    */
    /* Color section */
    --surface-100: #121212;
    --surface-200: #282828;
    --surface-300: #3f3f3f;
    --surface-400: #575757;
    --surface-500: #717171;
    --surface-600: #8b8b8b;

    --text-color: white;

    --primary-100: #820000;
    --primary-200: #942c1b;
    --primary-300: #a44834;
    --primary-400: #b4624e;
    --primary-500: #c37b69;
    --primary-600: #d19585;

    --warning: #914100;
    --success: #0e008b;
    /* Sizing section */
    --font-size: 2em;
    --grid-element-spacing: 5px;

    /* Shaping section */
    --corner-radius: 10px;


    --font-family: 'Tenor Sans', sans-serif;
    font-family: var(--font-family);
}


@media (prefers-color-scheme: light) {
    /*
        Media query will get the user's preferred color
        scheme as reported by their browser
        if it's light, we swap to a light material theme.
    */

}

hr {
    margin-left: 0px;
    margin-right: 0px;
}
body {
    background-color: var(--surface-100);
    color: var(--text-color)
}

.materialCard {
    box-shadow: 0px 4px 4px var(--surface-200);
    background: var(--surface-200);
    box-sizing: border-box;
    margin-bottom: 1em;
}

#DelayCalculator {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;
    margin-top: 30px;
    padding: 1em 1em;
    border-radius: var(--corner-radius);
    

}

.equipmentGrid {
    display: grid;
    grid-template-columns: repeat(4, calc(3em + 2 * var(--grid-element-spacing)));

    & input[type=number] {
        appearance: textfield;
        text-align: center;
        font-size: var(--font-size);
        box-sizing: border-box;
        margin: var(--grid-element-spacing)
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.spacebetween {
    justify-content: space-between;
}

.feedbackSidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 1em;
    height: calc(100vh - 60px);
    background-color: var(--surface-200);
    border-bottom-left-radius: var(--corner-radius);
    border-top-left-radius: var(--corner-radius);
    & > meter {
        width: 80%
    }
}

input,
select {
    background-color: var(--surface-300);
    color: var(--text-color);
    border: none;
    border-radius: var(--corner-radius);
    margin: 2px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    box-sizing: border-box;
    &[type=number] {
        -webkit-appearance: none;
        appearance: textfield;
        text-align: center;
        &:hover {
        };
    }
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
    appearance: none;
    margin:0;
}

.threeDigit {
    width: 3em;
    padding: 1px 0px;
}

select {
    width: 100%;
}

.horizontalFlex {
    display: flex;
    flex-flow: row wrap;
}
.verticalFlex {
    display: flex;
    flex-direction: column;
    &.centered {
        align-items: center;
    }
}

.bigText {
    font-size: 3em;
    align-self: flex-end;
    line-height: 0.9em;
}
.justifyCenter {
    text-align: center;
}

h3:has(+ hr) {
    margin-bottom: 0px;
}
#mainhand_container {
    margin-right: .5em;
}
.verticalSpacer {
    width: 1px;
    background-color: var(--surface-400);
    margin: 0px 5px;
}
.spaceAround {
    justify-content: space-around;
}